<div class="list-panel aui-item col-xl-8">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image"><span id="11460" class="aui-avatar aui-avatar-large aui-avatar-project jira-system-avatar"><span class="aui-avatar-inner"><img id="project-avatar" alt="Uploaded image for project: 'Atlassian Translations'" src="https://jira.atlassian.com/secure/projectavatar?pid=11460&amp;avatarId=10011"></span></span>
        </div>
        <!-- .aui-page-header-image -->
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                <li><a id="project-name-val" href="/browse/TRANS">Atlassian Translations</a></li>
                <li><a class="issue-link" data-issue-key="TRANS-2320" href="https://jira.atlassian.com/browse/TRANS-2331?jql="
                        id="key-val" rel="641548">TRANS-2320</a></li>
            </ol>
            <h1 id="summary-val">Accepted translation not reflected in the latest language pack</h1>
        </div>
        <!-- .aui-page-header-main -->
        <div class="aui-page-header-actions">
            <div id="issue-header-pager"></div>
        </div>
        <!-- .aui-page-header-actions -->
    </div>
    <div class="aui-group split-view">
        <div class="aui-item">
            <h2 class="toggle-title">Details</h2>
        </div>
        <div class="aui-item">
            <h2>Description</h2>
            <span data-bind="text: summary()"></span>
        </div>
    </div>
    <div class="aui-group split-view">
        <div class="aui-item">
            <h2>Details</h2>
        </div>
        <div class="aui-item">
            <h2>Description</h2>
        </div>
    </div>
</div>