<!--<table class="aui">
    <thead>
        <tr>
            <th id="name">Name</th>
            <th id="type">Type</th>
            <th id="order">Order</th>
            <th id="action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="name">Default</td>
            <td headers="type">Internal Directory</td>
            <td class="order" headers="order">
                <ul class="menu">
                    <li>
                        <a class="down" href="#">Down</a>
                    </li>
                </ul>
            </td>
            <td class="action" headers="action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td headers="name">Corporate LDAP</td>
            <td headers="type">Microsoft Active Directory</td>
            <td class="order" headers="order">
                <ul class="menu">
                    <li>
                        <a class="up" href="#">Up</a>
                    </li>
                    <li>
                        <a class="down" href="#">Down</a>
                    </li>
                </ul>
            </td>
            <td class="action" headers="action">
                <ul class="menu">
                    <li>
                        <a href="#">An Action</a>
                    </li>
                    <li>
                        <a href="#">Another Action</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>-->
<section id="content" role="main" class="aui-page-fixed">
    
    <div class="aui-page-panel">

            <section class="aui-page-panel-content">
                    <div class="aui-group split-view">
            <div class="aui-item col-xl-4" style="width: 320px;">
                <ul class="issue-list" data-bind="foreach: issues">
                    <li>
                        <img data-bind="attr: {src: fields.issuetype.iconUrl}" />
                        <a data-bind="click: $parent.select">
                            <span data-bind="text: fields.summary"> </span>
                        </a>
                    </li>
                </ul>
                <ol class="aui-nav aui-nav-pagination" data-bind="foreach: pages">
                    <li class="aui-nav-previous">
                        <a data-bind="click: pagination(startAt)" href="#">
                            <</a>
                    </li>
                    <li class="aui-nav-selected">1</li>
                    <li><a>2</a></li>
                    <li><a href="">3</a></li>
                    <li class="aui-nav-next"><a href="#">></a></li>
                </ol>
            </div>
            <div class="list-panel aui-item col-xl-8" data-bind="visible: showDetails">
                <div class="aui-page-header-inner">
                    <!-- .aui-page-header-image -->
                    <div class="aui-page-header-image">
                        <span id="11460" class="aui-avatar aui-avatar-large aui-avatar-project jira-system-avatar">
                            <span class="aui-avatar-inner"><img id="project-avatar" alt="Uploaded image for project: 'Atlassian Translations'" src="https://jira.atlassian.com/secure/projectavatar?pid=11460&amp;avatarId=10011">
                            </span>
                        </span>
                    </div>
                    <div class="aui-page-header-main">
                        <ol class="aui-nav aui-nav-breadcrumbs" resolved="">
                            <li>
                                <a id="project-name-val">Atlassian Translations</a>
                            </li>
                            <li>
                                <a class="issue-link" data-bind="attr: {href: 'https://jira.atlassian.com/browse/' + key()}">
                                    <span data-bind="text: key()">  </span>
                                </a>
                            </li>
                        </ol>
                        <h1 data-bind="text: summary"></h1>
                    </div>
                    <!-- .aui-page-header-main -->
                    <div class="aui-page-header-actions">
                        <div id="issue-header-pager"></div>
                    </div>
                    <!-- .aui-page-header-actions -->
                </div>
                <div class="aui-group split-view">
                    <div class="aui-item">
                        <h2 class="toggle-title">Details</h2>
                        <span data-bind="text: console.log(issueTypeIconUrl)"></span>
                        <ol>
                            <li>
                                <span>Type: </span>
                                <img data-bind="attr: {src: issueTypeIconUrl}" />
                                <span data-bind="text: issueTypeName"></span>
                            </li>
                            <li>
                                <span>Priority: </span>
                                <img  data-bind="attr: {src: issuePriorityIconUrl}" class="priority"/>
                                <span data-bind="text: issuePriorityName"></span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="aui-group split-view">
                    <div class="aui-item">
                        <h2>Description</h2>
                        <span data-bind="text: description"></span>
                    </div>
                    <div class="aui-item">
                    </div>
                </div>
            </div>
        </div>
            </section>
        </div>
</section>
<!--<div class="aui-page-fixed">
    <div class="aui-page-panel">
    
    </div>
</div>-->